.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden; }

span {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap; }

body {
  min-width: 320px; }
